* {
    font: 14px monospace;
}

html {
    color: lightgray;
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}