* {
    font: 14px monospace;
}

html {
    color: lightgray;
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
}

.fps {
    position: absolute;
    top: 8px;
    right: 8px;
    color: white;
    padding: 4px;
}